*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:white;
    margin: 0;
    font-family:  "Roboto", sans-serif;
    color: black;
    font-size: 14px;
}

.App{
    max-width: 900px;
     margin: 0px auto;
     text-align: center;    
}

.btn{
    padding: 5px 15px;
    color: rgb(27, 23, 23);;
    font-size: 14px;
    background: transparent;
    border: 1px solid black;
    cursor: pointer;
}

.btn-wrapper{
margin-top: 20px;
}

.btn-remove:hover{
background-color: red;
color: white;
font-size: 17px;
border: none;
}

.btn-addFavorite:hover{
    background-color: rgb(37, 83, 18);
    color: white;
    font-size: 17px;
    border: none;
    }

.topnav {
    background-color:  black;
    overflow: hidden;
    display: flex;
    flex-direction:row-reverse;
    padding-bottom: 20px;
  }

.input-wrapper{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.custom-select{
    position: relative;
}

.select{
    padding: 8px 16px;
    border: 1px solid;
    border-color: 1px rgba(0, 0, 0, 0.1) ;
    cursor: pointer;
}

.input{
    width: 40%;
    padding: 5px 15px;
    margin: 5px 0;
    border: 1px solid black;
}

.user-menu-item{
    list-style-type: none;
    margin-right: 1rem;
    font-size: large;
    color:white;
}

.link-user-menu-item{
    text-decoration: none;
    color: white;
    margin:10px
}

.link-user-menu-item{
    font-weight: 100;
}

.link-user-menu-item:hover{
    color: rgba(247, 241, 67, 0.5);
}

.pagination-wrapper{
 margin:0 auto;
 margin-top: 4rem;
 
}
.pagination-ul{
    display: flex;
    justify-content: space-around;
}

.pagination-item{
    list-style-type: none;
    margin: 1rem;
    cursor: pointer;
    font-weight: 600;
}
.pagination-item:hover{
    color: #878c29;
    font-size: medium;
    font-weight: 900;
}

.films-group{
    display:flex;
    flex-wrap: wrap;
    margin: 0px;
    justify-content: space-around;
    margin-top: 3rem;
}

.film-card{
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
    margin: 10px 20px 19px 20px;
}

.item-link{
    text-decoration: none;
    color: #273d46;
}
.item-link:hover{
    color: teal;
}

.film-title{
    text-decoration: none;
    font-size: medium;
    font-weight: 900;
    margin:10px;
}

.main-title{
    margin-top: 0.9rem;
    font-size: 40px;
    font-weight: bolder;
}

.navbar{
    height: 5rem;
    background-color:black;
    display: flex;
    justify-content: flex-end;
}

.navbar-li{
    margin-top: 5px;
    text-decoration: none;
    background-color:white;
    border-radius: 50%;
    padding: 15px;
 
}

.navbar-li:hover{
    box-shadow: 5px 5px 10px rgba(189, 184, 33, 0.5);
    background-color: #878c29;
}

.navbar-link{
    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    font-weight: 300;
}

.container-authorization-form{
    width:550px;
    background-color: black;
    margin: 100px auto 0 auto;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 50px;
}

.title-auth{
    color: white;
    padding-bottom: 40px;
}

.input-auth{
    width: 300px;
    height:50px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 4px;
    padding-left: 40px;
}

.btn-auth{
    padding: 20px 45px;
    margin: 5px 5px 20px 20px;
    font-size: 15px;
    color: #454627;
    background-color: #fff;
    border: none;

}
.btn-auth:hover{
    background-color: #878c29;;
    color: white;
    box-shadow: 0 0 30px rgba(247, 241, 67, 0.5)
}
.link-normalize{
    text-decoration: none;
}

.home-page-title{
    padding-top: 20px;
    padding-bottom: 10px;
}

.click-link{
    font-weight: bolder;
    font-size: medium;
    color: #5b6078;
    padding-top: 20px;
}

.click-link:hover{
    color:rgba(83, 80, 6, 0.5)
}

.loader{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px dashed black;
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg scale(1));
    }
    to{
        transform: rotate(360deg) scale(1.4);
    }
}